<?xml version="1.0"?>
<model>
  <name>drone_world</name>
  <version>1.0</version>
  <sdf version="1.6">drone_world.sdf</sdf>
  <author>
    <name>Tim Dupont</name>
    <email>tim.dupont@pxl.be</email>
  </author>
  <description>
    This Gazebo world simulates a maze environment featuring a X3 UAV designed for autonomous navigation and computer vision tasks. 
    The simulation serves as a testbed for developing and evaluating OpenCV-based image processing and simple AI algorithms. 
  </description>
</model>
