<?xml version="1.0"?>
<model>
  <name>tugbot_race_track1</name>
  <version>1.0</version>
  <sdf version="1.6">tugbot_race_track1.sdf</sdf>
  <author>
    <name>Tim Dupont</name>
    <email>tim.dupont@pxl.be</email>
  </author>
  <description>
    This Gazebo world simulates a racetrack environment featuring a tugbot robot designed for autonomous navigation and computer vision tasks. 
    The simulation serves as a testbed for developing and evaluating OpenCV-based image processing and simple AI algorithms. 
  </description>
</model>
